@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.2s ease;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #ffffff;
}

:root {
	--defaultColor: #ffffff;
	--primaryColor: #0d263b;
	--secondaryColor: #696969;
	--activeColor: #0061df;
}

button:active {
	transform: scale(0.98);
	opacity: 0.7;
	transition: .1s ease-in-out;
}
